<div class="modal about-book-modal">
  <button
    id="modal-close"
    class="close-modal-btn"
    type="button"
    aria-label="close"
  >
    <svg class="button--close-icon" width="28" height="28">
      <use href="./img/sprit.svg#close"></use>
    </svg>
  </button>
  <div id="allModal"></div>
  <div class="storage-button-wrapper">
    <button type="button" class="add-storage-button modal-id-buttons">
      Add to shopping list
    </button>

    <div class="remove-modal-btn">
      <button type="button" class="storage-delete-button modal-id-buttons">
        Remove from the shopping list
      </button>
      <p class="storage-description"></p>
    </div>
  </div>
</div>
