<!--Best sellers-->
<div class="selected-category-list">
    <h1 class="home-page-title">Best Sellers <span class="home-page-title-accent">Books</span></h1>
    <ul class="best-sellers-books">
      <!--<li></li>
      <li>
        <p class="category-title"></p>
        <ul class="best-sellers-by-category">
          <li class="best-sellers-book" data-book-id="">
            <img class="best-sellers-book-img" src="" alt="" />
            <p class="best-sellers-book-title"></p>
            <p class="best-sellers-book-author"></p>
          </li>
          <li class="best-sellers-book" data-book-id="">
            <img class="best-sellers-book-img" src="" alt="" />
            <p class="best-sellers-book-title"></p>
            <p class="best-sellers-book-author"></p>
          </li>
          <li class="best-sellers-book" data-book-id="">
            <img class="best-sellers-book-img" src="" alt="" />
            <p class="best-sellers-book-title"></p>
            <p class="best-sellers-book-author"></p>
          </li>
        </ul>
        <button type="button">See more</button>
        </li>-->
    </ul> 
</div>
