<header class="header">
<div class="header-container">
    <a href="" class="header-logo-link">
        <svg class="header-logo" width="24" height="24">
            <use href="" />
        </svg>
        Bookshelf
    </a>

    <nav class="header-nav">
        <ul class="header-nav-list">
            <li class="header-nav-item"><a href="" class="header-nav-link">home</a></li>
            <li class="header-nav-item"><a href="" class="header-nav-link">shopping list</a></li>
        </ul>
    </nav>

    <div class="header-btns">

        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>

        
        <button class="modal-open-btn">
            <svg class="open-icon" width="28" height="28">
                <use href="" />
            </svg>
        </button>
    </div>
</div>
</header>