<header class="header">
<div class="header-container">
    
    
        <a href="" class="header-logo-link">
            <svg class="header-logo" width="24" height="24">
                <use href="./img/sprit.svg#icon-logo" />
            </svg>
    
            <svg class="header-logo" width="77.001" height="13.266">
                <use href="./img/sprit.svg#icon-bookshelf" />
            </svg>
        </a>
    <nav class="header-nav">
        <ul class="header-nav-list">
            <li class="header-nav-item"><a href="./home.html" class="header-nav-link js-home-link">home</a></li>
            <li class="header-nav-item"><a href="./rent-block.html" class="header-nav-link js-shopping-link">shopping list <svg class="header-logo" width="24" height="24">
                <use href="./img/sprit.svg#icon-bag" />
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <div class="header-btns">
      <label class="switch">
        <input type="checkbox" id="themeSwitch" />
        <span class="slider round"></span>
      </label>

        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>

        
        <button class="modal-open-btn">
            <svg class="open-icon" width="28" height="28">
                <use href="./img/sprit.svg#icon-burger" />
            </svg>
        </button>
    </div>
  </div>

  <div class="header-modal hidden-modal">
    <ul class="header-modal-list">
        <li class="modal-home-btn"><a href="./index.html">HOME</a></li>
        <li class="modal-shop-btn">
          <a href="./shoping-list.html" class="modal-shop-link">SHOPPING LIST
            <span>
              <svg class="modal-shop-icon" width="20" height="20">
                <use href="./img/modalshopicon.svg" />
              </svg>
            </span>
          </a> 
            
            
            
        </li>
    </ul>
    <div class="modal-stephan">
      <div class="user-img">
        <img src="./img/stephan.jpg" alt="St">
      </div>
      <p class="user-name">Stephan</p>
     
    </div>
    <div class="modal-gallery">
          <img src="./img/imageA.jpg" alt="" class='modal-gallery-img'>
          <img src="./img/imageA.jpg" alt="" class='modal-gallery-img'>
          <img src="./img/imageA.jpg" alt="" class='modal-gallery-img'>
          <img src="./img/imageA.jpg" alt="" class='modal-gallery-img'>
          <img src="./img/imageA.jpg" alt="" class='modal-gallery-img'>
          <img src="./img/imageA.jpg" alt="" class='modal-gallery-img'>
          <img src="./img/imageA.jpg" alt="" class='modal-gallery-img'>
          <img src="./img/imageA.jpg" alt="" class='modal-gallery-img'>
          <img src="./img/imageA.jpg" alt="" class='modal-gallery-img'>
          <img src="./img/imageA.jpg" alt="" class='modal-gallery-img'>
          <img src="./img/imageA.jpg" alt="" class='modal-gallery-img'>
          <img src="./img/imageA.jpg" alt="" class='modal-gallery-img'>
         

    </div>
  </div>
  
</header>
