<header class="header">
  <div class="header-container container">
    <a href="./index.html" class="header-logo-link">
      <svg class="header-logo" width="24" height="24">
        <use href="./img/sprit.svg#icon-logo" />
      </svg>
      <svg class="header-logo" width="77.001" height="13.266">
        <use href="./img/sprit.svg#icon-bookshelf" />
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="./index.html" class="header-nav-link js-home-link">home</a>
        </li>
        <li class="header-nav-item">
          <a href="./shoping-list.html" class="header-nav-link js-shopping-link"
            >shopping list
            <svg class="header-logo" width="24" height="24">
              <use href="./img/sprit.svg#icon-bag" />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <div class="header-btns">
      <label class="switch">
        <input type="checkbox" id="themeSwitch" />
        <span class="slider round"></span>
      </label>
      <!-- <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label> -->
      <button class="modal-open-btn">
        <svg class="open-icon" width="28" height="28">
          <use href="./img/sprit.svg#icon-burger" />
        </svg>
      </button>
    </div>
  </div>
  <div class="header-modal hidden-modal">
    <ul class="header-modal-list">
      <li class="modal-home-btn"><a href="">HOME </a></li>
      <li class="modal-shop-btn">
        <a href="" class="modal-shop-link"
          >SHOPPING LIST
          <svg class="modal-shop-icon" width="20" height="20">
            <use href="./img/sprit.svg#modalshopicon" />
          </svg>
        </a>
      </li>
    </ul>
    <img src="../img/imageA.png" alt="" class="modal-img" />
    <div class="modal-stephan">
      <p class="user-name">Stephen</p>
      <img src="../img/stephan.jpg" alt="" class="user-img" />
    </div>
  </div>
</header>
