<section class="shopping">
  <div class="shopping-wrapper">
    <h1 class="shopping-heading">
      Shopping<span class="shopping-heading-color"> List</span>
    </h1>
    <ul class="shopping-cards"></ul>
    <div
      id="shopping-pagination-container"
      class="shopping-pagination pagination"
    ></div>
    <div class="shopping-storage">
      <p class="shopping-storage-empty">
        This page is empty, add some books and proceed to order.
      </p>
      <img src="./img/IMG_9606-1.png" alt="No books" />
    </div>
  </div>
</section>
