<div class="donation">
  <div class="support-header">
    <div>
      <h2 class="header-text">Support Ukraine</h2>
    </div>
    <img
      src="./img/suport-ua/coat-of-arms.png"
      alt="coat of arms of Ukraine"
      srcset="
        ./img/suport-ua/coat-of-arms.png 1x,
        ./img/suport-ua/coat-of-arms@2x.png 2x
      "
    />
  </div>
  <ol class="fonds">
    <li class="fonds-elm">
      <a
        class="fonds-link"
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="num-order">01</div>
        <img
          src="./img/suport-ua/save.png"
          height="32"
          alt="Save the Children"
          srcset="./img/suport-ua/save.png 1x, ./img/suport-ua/save@x2.png 2x"
        />
      </a>
    </li>
    <li class="fonds-elm">
      <a
        class="fonds-link"
        href="https://www.projecthope.org/country/ukraine/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="num-order">02</div>
        <img
          src="./img/suport-ua/hope.png"
          alt="Project HOPE"
          height="32"
          srcset="./img/suport-ua/hope.png 1x, ./img/suport-ua/hope@2x.png 2x"
        />
      </a>
    </li>
    <li class="fonds-elm">
      <a
        class="fonds-link"
        href="https://internationalmedicalcorps.org/country/ukraine/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="num-order">03</div>
        <img
          src="./img/suport-ua/imc.png"
          height="32"
          alt="International Medical Corps"
          srcset="./img/suport-ua/imc.png 1x, ./img/suport-ua/imc@2x.png 2x"
        />
      </a>
    </li>
    <li class="fonds-elm">
      <a
        class="fonds-link"
        href="https://www.razomforukraine.org/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="num-order">04</div>
        <img
          src="./img/suport-ua/razom.png"
          alt="RAZOM"
          srcset="./img/suport-ua/razom.png 1x, ./img/suport-ua/razom@2x.png 2x"
        />
      </a>
    </li>
    <li class="fonds-elm">
      <a
        class="fonds-link"
        href="https://www.actionagainsthunger.org/location/europe/ukraine/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="num-order">05</div>
        <img
          src="./img/suport-ua/aahunger.png"
          alt="Action against hunger"
          srcset="
            ./img/suport-ua/aahunger.png    1x,
            ./img/suport-ua/aahunger@2x.png 2x
          "
        />
      </a>
    </li>
    <li class="fonds-elm">
      <a
        class="fonds-link"
        href="https://prytulafoundation.org/en"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="num-order">06</div>
        <img
          src="./img/suport-ua/prytula.png"
          alt="Serhiy Prytula Charity Foundation"
          srcset="
            ./img/suport-ua/prytula.png    1x,
            ./img/suport-ua/prytula@2x.png 2x
          "
        />
      </a>
    </li>
    <li class="fonds-elm">
      <a
        class="fonds-link"
        href="https://www.msf.org/ukraine"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="num-order">07</div>
        <img
          src="./img/suport-ua/medsfront.png"
          alt="Medicins Sans Frontieres"
          srcset="
            ./img/suport-ua/medsfront.png    1x,
            ./img/suport-ua/medsfront@2x.png 2x
          "
        />
      </a>
    </li>
    <li class="fonds-elm">
      <a
        class="fonds-link"
        href="https://www.wvi.org/emergencies/ukraine"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="num-order">08</div>
        <img
          src="./img/suport-ua/worldvision.png"
          alt="World vision"
          srcset="
            ./img/suport-ua/worldvision.png    1x,
            ./img/suport-ua/worldvision@2x.png 2x
          "
        />
      </a>
    </li>
    <li class="fonds-elm">
      <a
        class="fonds-link"
        href="https://u24.gov.ua/uk"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="num-order">09</div>
        <img
          src="./img/suport-ua/united.png"
          alt="UNITED24"
          srcset="
            ./img/suport-ua/united.png    1x,
            ./img/suport-ua/united@2x.png 2x
          "
        />
      </a>
    </li>
  </ol>

  <div class="center">
    <button type="button" class="nav-btn">
      <svg class="icon icon-down" width="22" height="22">
        <use href="./img/suport-ua/icon.svg#icon-down"></use>
      </svg>
      <svg class="icon icon-up is-hidden" width="22" height="22">
        <use href="./img/suport-ua/#icon-up"></use>
      </svg>
    </button>
  </div>
</div>
