.overlay{
  overflow: hidden;
}


.about-book-modal {
  width: 335px;
  height: 762px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 0;
  border: 2px solid #111;
  background: #FFF;
  position: relative;
  top: 430px;
  left: 50%;
  border-radius: 18px;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.image-about-book-modal {
  border-radius: 8px;
}

.title-about-book-modal {
  margin-top: 14px;
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
}

.author-about-book-modal {
  color: #B4AFAF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  margin-top: 3px;
  letter-spacing: -0.48px;
}

.text-about-book-modal {
  width: 287px;
  height: 70px;
  flex-shrink: 0;
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  margin-top: 18px;
}

.shop-modal-list {
  width: 115px;
  justify-content: start;
  margin-top: 14px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
}





.js-backdrop-modal {
  z-index: 23;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #1116;
  transition: opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
 
}
.is-hidden{
  display: none;
}
.close-modal-btn {
  position: absolute;
  padding: 0;
  width: 24px;
  height: 24px;
  top: 12px;
  right: 12px;
  border: none;
  cursor: pointer;
  transition: fill 0.3s ease;
  background: white;
}
.close-modal-btn:hover {
  fill: grey;
}










.modal-id-buttons {
  position: absolute;
  left: 50%;
  background-color: white;
  transform: translateX(-50%);
  border: 2px solid rgb(150, 150, 229);
  border-radius: 40px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 23px;
}
.storage-description{
  display: none;
}
.modal-id-buttons:hover {
  border: 2px solid grey;
  background: rgb(150, 150, 229);
  color: white;
  cursor: pointer;
}
.modal-id-buttons:focus {
  border: 1px solid blue;
  background: rgb(150, 150, 229);
  color: white;
  cursor: pointer;
}

.add-storage-button {
  width: 221px;
  margin-top: 30px;
}

.storage-delete-button {
  width: 279px;
  margin-top: 20px;
}

.remove-modal-btn {
  display: none;
}

.storage-description {
  position: absolute;
  width: 242px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(17, 17, 17, 0.5);
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
/* 
@media (min-width: 768px) {
  .about-book-modal {
    display: flex;
    position: absolute;
    top: 50%;
    padding: 40px;
    height: 500px;
    width: 579px;
  }

  .close-modal-btn {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }

  .image-about-book-modal {
    width: 192px;
    height: 281px;
    border-radius: 8px;
  }

  .info-modal {
    position: absolute;
    width: 270px;
    left: 256px;
    top: 30px;
  }

  .modal-id-buttons {
    bottom: 60px;
  }

  .storage-description {
    width: 324px;
    bottom: 20px;
    font-size: 12px;
    line-height: 14px;
  }

  .add-storage-button {
    width: 499px;
  }

  .storage-delete-button {
    width: 499px;
  }
} */
