.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(var(--text-hover), #DCDCDC);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: var(--background_l);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: linear-gradient(var(--text-hover), #686868);
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}







.header-container {
    display: flex;
    padding: 18px 20px;
    align-items: center;

    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid var(--text);
}

@media only screen and (min-width: 768px) {
    .header-container {
        padding: 19px 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-container {
        padding-right: 24px;
        padding-left: 24px;
    }
}

.header-logo-link {
    display: flex;
    align-items: center;
    margin-right: 40px;
    /* gap: 8px; */

    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    .header-logo-link {
        margin-right: 40px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-logo-link {
        margin-right: 76px;
    }
}

.header-logo{
    margin-right: 8px;
}

.header-nav {
    display: none;
    align-items: center;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* .header-nav-item:nth-child(2n) {
display: flex;
align-items: center;

} */
.header-nav-link{
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-nav-link {
    text-transform: uppercase;
    padding: 7px 16px;
    border-radius: 36px;
}

/* .header-nav-link:hover,
.header-nav-link:focus { 
    background-color: var(--background_active);
    font-weight: 700;
} */

@media only screen and (min-width: 768px) {
    .header-nav {
        display: flex;
        gap: 24px;
    }
}

@media only screen and (min-width: 768px) {
    .modal-open-btn {
        display: none;
    }
}


.header-btns {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-left: auto;
}

.header-modal {
    
    height: 100vh;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, var(--text-hover) 18.03%, var(--background_l) 100%);
}

.header-modal-list {
    display: flex;
    flex-direction: column;

    gap: 16px;
    padding-top: 183px;
    padding-left: 129px;
}

.modal-open-btn {
    margin-left: 14px;
    padding: 0;
    background-color: #FFF;
    border: 0;
}

.active{
        padding: 7px 16px;
        background-color: #EAC645;
        border-radius: 36px;
        font-weight: 700;
}

.hidden-modal {
    display: none;
}