.shopping-page {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 40px;
  margin-bottom: 80px;
}

@media only screen and (min-width: 768px){
  .shopping-page {
    margin-bottom: 100px;
    }
}
@media only screen and (min-width: 1440px){
  .shopping-page {
    flex-direction: row;
    }
}
.shopping-support {
  display: none;
}
.shopping-list-wrapper {
  height: 812px;
  background: var(--background_l);
  /* padding-top: 40px; */
}
h1 .shopping-list-heading {
  width: 192px;
}
.shopping-list-heading {

   margin-left: 20px;
  color: var(--text);

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
}
.shopping-list-heading-color {
  margin-top: 112px;
  color: var(--title-blue-text);
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
}
.shopping-list-storage-empty {
  color:var(--text-gray);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.36px;
}
p.shopping-list-storage-empty {
  margin: 0;
}
.shopping-list-storage {
  display: block;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 265px;
  height: 198px;
  margin: 120px 55px 0 55px;
}
@media only screen and (min-width: 768px) {
  .shopping-list-wrapper {
    height: 1007px;
  }
  h1 .shopping-list-heading {
    width: 292px;
  }
  .shopping-list-heading {
    margin-left: 32px;
    font-size: 48px;
    line-height: 52px;
  }
  .shopping-list-heading-color {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
  }
  .shopping-list-storage {
    gap: 20px;
    width: 349px;
    margin: 140px 210px 0 209px;
  }
  .shopping-list-storage img {
    width: 322px;
  }
}

@media only screen and (min-width: 1440px) {
  .shopping-support {
    display: block;
  }
  body {
    position: relative;
    background: #f6f6f6;
  }
  /* .shopping-list-wrapper {
    position: absolute;
    top: 79px;
    left: 380px;
    height: 770px;
  } */
  .shopping-list-heading {
    margin-left: 40px;
  }
  .shopping-list-storage {
    margin: 140px 355px 0 356px;
  }
}

/* === rent-block ===*/

.shopping-list-cards {
  height: 500px;
  position: relative;
  margin-top: 40px;

  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.shopping-list-card {
  position: absolute;
  top: 0;
    left: 20px;
  display: flex;
  padding: 14px;

  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
}
.shopping-list-blok {
  position: relative;
  width: 193px;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}
.shopping-list-book-title {
  max-width: 144px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}
.shopping-list-book-category {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #b4afaf;
  margin-bottom: 6px;
  margin-top: 4px;
  max-width: 165px;
  height: 14px;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.36px;
}
.shopping-list-book-description {
  width: 193px;
  height: auto;
  margin: 0 0 29px 0;
  overflow: hidden;
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.shopping-list-card-img{
  width: 100px;
  height: 142px;
  border-radius: 8px;
}
.shopping-list-img{
  width: 100%;
  height: 100%;
   object-fit:contain;
}
.shopping-list-book-autor {
  display: block;
  min-width: 71px;
  min-height: 14px;
  color: #b4afaf;
  margin: 0;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
}
.shopping-list-btn-delete {
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  background-color: #4f2ee8;
  fill: #4f2ee8;
  padding: 6px;
}
.shopping-list-shops {
  height: 16px;
  padding: 0;
  display: flex;
  gap: 8px;
  position: absolute;
  align-items: end;
  justify-content:center;
  bottom: 15px;
  right: 14px;
}
.shopping-list-shop .amazon {
  width: 32px;
  height: 11px;
}
.shopping-list-shop .appleBook {
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 768px) {
  .shopping-list-cards{
    max-width: 768px;
  }
  .shopping-list-card {
    position: absolute;
    top: 0;
    left: 32px;
    padding: 24px;
  }
  .shopping-list-blok{
    width: 508px;
  }
  .shopping-list-book-title{
    max-width: 200px;
  }
  .shopping-list-book-description {
    width: 508px;
    height: auto;
    margin: 0 0 55px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .shopping-list-card-img {
    width: 116px;
    height: 165px;
  }
  .shopping-list-shops{
    bottom: 24px;
    right: 22px;
    gap: 16px;
    align-items: center;
  }
  .shopping-list-shop .amazon{
    width: 48px;
    height: 15px;
  }
  .shopping-list-shop .appleBook{
    width: 28px;
    height: 27px;
  }
  .shopping-list-btn-delete{
    height: 34px;
    width: 34px;
    padding: 8px;
    top: 22px;
    right: 22px;
  }
  .shopping-list-btn-delete-icon{
    width: 18px;
    height: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .shopping-list-wrapper{
    width: 1440px;
  }
  .shopping-list-card{
    position: absolute;
    top: 0;
    left: 40px;
  }

 .shopping-list-blok {
    width: 808px;
 }
 .shopping-list-book-description {
    width: 808px;
    margin: 0 0 70px 0;
}
}