/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./rent-block.css');
@import url('./footer.css');
@import url('./best-sellers.css');
@import url('./skrollBtn.css');
@import url('./category-list.css');
@import url('./support-ua.css');
@import url('./about-book-modal.css');

:root {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  line-height: 1, 12;
  font-weight: 400;
  --bold: 700;
  font-style: normal;
  --background_l: #f6f6f6;
  --background_d: #202024;
  --background_m: rgba(17, 17, 17, 0.4);
  --background_active: #eac645;
  --text: #111;
  --text-menu: rgba(17, 17, 17, 0.6);
  --text-hover: #4f2ee8;
  --text-gray: #b4afaf;
  color-scheme: light;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../font/DMSans-Medium.eot');
  src: url('../font/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/DMSans-Medium.woff2') format('woff2'),
    url('../font/DMSans-Medium.woff') format('woff'),
    url('../font/DMSans-Medium.ttf') format('truetype'),
    url('../font/DMSans-Medium.svg#DMSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../font/DMSans-Regular.eot');
  src: url('../font/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/DMSans-Regular.woff2') format('woff2'),
    url('../font/DMSans-Regular.woff') format('woff'),
    url('../font/DMSans-Regular.ttf') format('truetype'),
    url('../font/DMSans-Regular.svg#DMSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../font/DMSans-Bold.eot');
  src: url('../font/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/DMSans-Bold.woff2') format('woff2'),
    url('DMSans-Bold.woff') format('woff'),
    url('../font/DMSans-Bold.ttf') format('truetype'),
    url('../font/DMSans-Bold.svg#DMSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* Desktop screen */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.dark-theme {
  /* font-family: DM Sans, sans-serif;
  font-size: 14px;
  line-height: 1, 12;
  font-weight: 400;
  --bold: 700;
  font-style: normal;
  --background_l: #f6f6f6;
  --background_d: #202024;
  --background_m: rgba(17, 17, 17, 0.4);
  --background_active: #eac645;
  --text: #111;
  --text-menu: rgba(17, 17, 17, 0.6);
  --text-hover: #4f2ee8;
  --text-gray: #b4afaf; */
  --background_l: #202024;
  --text: #ffffff;
  color-scheme: dark;
}
